.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 10px 0;
  margin-bottom: 15px;
  transition: 0.3s;
}
.social-btn:hover {
  transform: scale(1.05);
}
.social-btn img {
  width: 25px;
}
.social-btn p {
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  font-weight: 600;
}

.facebook-btn {
  color: white;
  background-color: #3b5998;
}
.facebook-icon {
  font-size: 24px;
}

.github-btn {
  color: white;
  background-color: black;
}
.github-icon {
  font-size: 24px;
}

.redirect-to-signup button {
  text-transform: uppercase;
  font-weight: 700;
  color: #5f5f5f;
  font-size: 18px;
  letter-spacing: 0.2ch;
}
